body {
    background: #f7f7f7;
}

.table {
    box-shadow: none;
    border-spacing: 0 0.85rem !important;
    font-size: 0.9rem;
    font-weight: 500;
}

.table .dropdown {
    display: inline-block;
}

.table td,
.table th {
    vertical-align: middle;
    margin-bottom: 10px;
    font-weight: 700;
    border: none;
}

.table thead tr,
.table thead th {
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: transparent;
}

.table td {
    background: #DDE6FE;
    color: #202B5C;
}

.table td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.table td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    top: 28px;
    left: 14px;
    border: none;
    box-shadow: none;
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child {
    padding-left: 48px;
}

table.dataTable>tbody>tr.child ul.dtr-details {
    width: 100%;
}

table.dataTable>tbody>tr.child span.dtr-title {
    min-width: 50%;
}

table.dataTable.dtr-inline.collapsed>tbody>tr>td.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>th.child,
table.dataTable.dtr-inline.collapsed>tbody>tr>td.dataTables_empty {
    padding: 0.75rem 1rem 0.125rem;
}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label {
    margin-bottom: 0;
}

@media (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_paginate ul.pagination {
        -ms-flex-pack: center !important;
        justify-content: center !important;
        margin-top: 1rem;
    }
}

.table a {
    color: #DDE6FE;
}

.table img {
    display: block
}

.table a:hover,
.table a:focus {
    text-decoration: none;
}

table.dataTable {
    margin-top: 12px !important;
}

.dataTables_filter {
    display: none;
}

table.dataTable thead th {
    border-bottom: 0;
}

table.dataTable tfoot th {
    border-top: 0;
}

.dataTables_info {
    font-size: 0.6rem;
    float: left;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    font-size: 2rem;
    bottom: 0!important;
}